<table>
  <tr *ngIf="title !== ''">
    <td colspan="2" [ngStyle]="titleStyle">
      {{ title }}
    </td>
  </tr>
  <tr [style.border-bottom]="lineColor">
    <td [ngStyle]="headerStyle">
      <span
        >{{ headerText }}
        <img
          *ngIf="required"
          [ngStyle]="requiredStyle"
          src="assets/必須.png"
          width="34"
          height="32"
      /></span>
    </td>
    <td [ngStyle]="contentsStyle">
      <span *ngIf="entry" style="margin: 0px 0px 0px 10px">
        姓と名の間には空白（全角）を入れてください。
      </span>
      <p *ngIf="entry"></p>
      <span *ngIf="entry" style="margin: 0px 0px 0px 10px">
        <input type="text" placeholder="中小　太郎" [(ngModel)]="value" />　さま
      </span>
      <span *ngIf="!entry" style="margin-left: 10px">
        {{ value }}
      </span>
    </td>
  </tr>
</table>
