<table>
  <tr [style.border-bottom]="lineColor">
    <td [ngStyle]="headerStyle">
      <span style="margin: 10px 6px 0px 4px"> 口座名義人(漢字) </span>
      <img
        style="margin-top: 5px"
        src="assets/必須.png"
        width="34"
        height="32"
      />
    </td>
    <td [ngStyle]="contentsStyle">
      <span *ngIf="entry" style="margin: 0px 0px 0px 10px">
        姓と名の間には空白（全角）を入れてください。
      </span>
      <p *ngIf="entry"></p>
      <span *ngIf="entry" style="margin: 0px 0px 0px 10px">
        <input type="text" placeholder="中小　太郎" [(ngModel)]="value" />　さま
      </span>
      <span *ngIf="!entry" style="margin-left: 10px">
        {{ value }}
      </span>
    </td>
  </tr>
</table>
