<div style="background-color: white; border-radius: 8px">
  <br />
  <div style="margin-left: 10px">
    <app-comp0></app-comp0>
    <app-comp1 [lastLine]=false [entryMode]=true></app-comp1>
    <app-comp1 [lastLine]=false [entryMode]=false></app-comp1>
    <app-comp2 partsId="id1" [lastLine]=false [entryMode]=true></app-comp2>
    <app-comp2 partsId="id2" [lastLine]=true [entryMode]=false></app-comp2>
  </div>
  <br />
</div>
<button type="button" (click)="pushed()" style="margin-top: 10px;">次に進む</button>
