<table>
  <tr *ngIf="title != ''">
    <td
      colspan="2"
      style="
        width: 560px;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px gray solid;
      "
    >
      {{ title }}
    </td>
  </tr>
  <tr [style.border-bottom]="lineColor">
    <td
      style="
        display: flex;
        width: 160px;
        height: 80px;
        background-color: #f2f2f2;
      "
    >
      <span style="margin: 10px 6px 0px 4px"> 口座番号 </span>
      <img
        style="margin-top: 5px"
        src="assets/必須.png"
        width="34"
        height="32"
      />
    </td>
    <td style="width: 400px; height: 80px">
      <span style="margin: 0px 0px 0px 10px">
        口座番号を入力してください。
      </span>
      <p></p>
      <span style="margin: 0px 0px 0px 10px">
        <input
          type="password"
          name="test"
          placeholder="***********"
          [(ngModel)]="name"
        />
        <a
          class="extenal-link"
          style="font-size: 11px; text-decoration: none"
          href=".blank"
        >
          口座番号を表示
        </a>
      </span>
    </td>
  </tr>
</table>
