<h3>【部品共通化技術検証】</h3>
<nav>
  <a
    style="margin-right: 10px"
    class="button"
    routerLink="screen1"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    口座情報 部品
  </a>
  <a
    style="margin-right: 10px"
    class="button"
    routerLink="screen2"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    口座情報 部品
  </a>
  <a
    style="margin-right: 10px"
    class="button"
    routerLink="screen3"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    口座情報 部品
  </a>
</nav>
<hr />
<router-outlet></router-outlet>
