<h3>【部品共通化技術検証】</h3>
<nav>
  <a
    style="margin-right: 10px"
    class="button"
    routerLink="screen2"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    テスト
  </a>
  <a
    style="margin-right: 10px"
    class="button"
    routerLink="screen3"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    テスト
  </a>
  <a
    style="margin-right: 10px"
    class="button"
    routerLink="screen1"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    申込者情報
  </a>
</nav>
<hr />
<router-outlet></router-outlet>
