<table>
    <tr *ngIf="title !== ''">
      <td colspan="2" [ngStyle]="titleStyle">
        {{ title }}
      </td>
    </tr>
    <tr [style.border-bottom]="lineColor">
      <td [ngStyle]="headerStyle">
        <span  class="entry"
          >{{ headerText }}
          <img
            *ngIf="required"
            [ngStyle]="requiredStyle"
            src="assets/必須.png"
            width="34"
            height="32"
        /></span>
      </td>
      <td [ngStyle]="contentsStyle">
        <span *ngIf="entry" class="display">
          {{ contentsText }}
        </span>
        <br/><app-base-anchor value="ヘルプのサンプル"></app-base-anchor><br/>
        <!-- <p *ngIf="entry"></p> -->
        <span *ngIf="entry" class="display">
          <app-base-radio selectValue="male" label="男" name="sex"></app-base-radio>
        </span>
        <span *ngIf="!entry" class="display">
          {{ value }}
        </span>
      </td>
    </tr>
  </table>
  