table {
    font-size:12px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }
  .display {
    margin-left: 8px;
  }
  .entry {
    margin-top: 8px;
    margin-left: 8px;
  }
