<div style="background-color: white; border-radius: 8px">
  <br />
  <div style="margin-left: 12px;">
    <app-vp-text
      title="口座情報"
      [required]="true"
      requiredPos="-4px"
      headerText="申込者の氏名（漢字）"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="90"
      size="28"
      [lastLine]="false"
      [entry]="true"
      [value]="nameKanji"
    ></app-vp-text>
    <app-vp-text
      title=""
      [required]="false"
      requiredPos="-4px"
      headerText="申込者の氏名（漢字）"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="90"
      size="28"
      [lastLine]="true"
      [entry]="false"
      [value]="nameKanji"
    ></app-vp-text>
    <br />
  </div>
  <br />
  <br />
</div>
