<div style="background-color: white; border-radius: 8px">
    <br />
    <div style="margin-left: 12px;">
      <app-table-text
        title="口座情報"
        [required]="true"
        requiredPos="-4px"
        headerText="申込者の氏名（漢字）"
        titleStyle="titleStyle"
        headerWidth="180"
        contentsWidth="550"
        height="90"
        size="28"
        [lastLine]="false"
        [entry]="true"
        [value]="mksnmkj"
      ></app-table-text>
      <app-table-text
        title=""
        [required]="false"
        requiredPos="-4px"
        headerText="申込者の氏名（漢字）"
        titleStyle="titleStyle"
        headerWidth="180"
        contentsWidth="550"
        height="90"
        size="28"
        [lastLine]="true"
        [entry]="false"
        [value]="mksnmkj"
      ></app-table-text>
      <br />
    </div>
    <br />
    <br />
  </div>
  