<div class="white_panel">
  <br />
  <div class="inner_panel">
    <!-- 申込者の氏名（漢字） -->
    <app-table-text
      title="申込者情報"
      id="id001"
      type="text"
      [required]="true"
      requiredPos="-4px"
      [headerText]="mksnmkjHeaderText"
      [contentsTextFromParent]="mkskjContentsText"
      [honor]="honor"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="90"
      size="28"
      [lastLine]="false"
      [entry]="true"
      [value]="mksnmkj"
    ></app-table-text>

    <!-- 申込者の氏名（フリガナ） -->
    <app-table-text
      title=""
      id="id002"
      type="text"
      [required]="true"
      requiredPos="-4px"
      [headerText]="mksnmknHeaderText"
      [contentsTextFromParent]="mksknContentsText"
      [contentsWordBackYeallow]="true"
      [honor]="honor"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="90"
      size="28"
      [lastLine]="false"
      [entry]="true"
      [value]="mksnmkn"
    ></app-table-text>

    <!-- 申込者の生年月日（和暦） -->
    <app-table-text
      title=""
      id="id003"
      type="text"
      [required]="false"
      requiredPos="-4px"
      headerText="申込者の生年月日（和暦）"
      [contentsTextFromParent]="mksknContentsText"
      [honor]="honor"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="70"
      size="28"
      [lastLine]="false"
      [entry]="false"
      value="昭和40年 10月 1日"
    ></app-table-text>

    <!-- 申込者の年齢  -->
    <app-table-text
      title=""
      id="id004"
      type="text"
      [required]="false"
      requiredPos="-4px"
      headerText="申込者の年齢"
      [contentsTextFromParent]="mksknContentsText"
      [honor]="honor"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="70"
      size="28"
      [lastLine]="false"
      [entry]="false"
      value="58 歳"
    ></app-table-text>

    <!-- 事業主の性別  -->
    <app-table-radio
      title=""
      id="rd005"
      type="radio"
      [required]="true"
      requiredPos="-4px"
      headerText="事業主の性別"
      [contentsTextFromParent]="jgnsexContentsText"
      titleStyle="titleStyle"
      headerWidth="180"
      contentsWidth="550"
      height="90"
      size="28"
      [lastLine]="true"
      [entry]="true"
      guide="男性"
    ></app-table-radio>

    <br />
  </div>
</div>
